@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2E2E2E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-mango-yellow: #F9C934;
  --color-mango-orange: #FFB84C;
  --color-mango-cream: #FFF4DB;
  --color-text-gray: #2E2E2E;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
